<%- include('partials/header', { title: 'Blacklist' }) %>
    <%- include('partials/navbar') %> 
    <div class="container">
        <h1>Blacklist</h1>
        <h2>Liste des blacklist</h2>
    </div>

<%- include('partials/footer') %>