<%- include('partials/header', { title: 'Favoris' }) %>
    <%- include('partials/navbar') %> 
    <div class="container">
        <h1>Favorie</h1>
        <h2>Liste des favoris</h2>
    </div>

<%- include('partials/footer') %>