<%- include('partials/header', { title: 'Accueil' }) %>
    <%- include('partials/navbar') %> 
    <div class="container mt-3">
    <div class="mx-auto" style="width:900px">
        <div class="container">
            <h1>Choisir son activité :</h1>
        </div>
        <%- include('forms/index_form') %> 
    
    </div>
    </div>


<%- include('partials/footer') %>