<%- include('../partials/header', { title: 'trop de participants' }) %>
    <%- include('../partials/navbar') %> 
    <div class="container mt-3">
    <div class="mx-auto" style="width:900px">
        <div class="container">
            <h3>Aucune activité a été trouvé avec les paramètres choisi</h3>
            <h3>Vous pouvez choisir le type "all", qui vous assure de trouver une activité avec le nombre de participants et le prix que vous souhaitez</h3>
        </div>
    
    </div>
    </div>


<%- include('../partials/footer') %>