<form action="/activities" method="POST">

  <!--Choix des categories -->
  <div class="form-group">
    <label for="FormControlActivities">Type d'activites</label>
    <select class="form-control" id="type_activities" name="type_activities">
      <option>education</option>
      <option>recreational</option>
      <option>social</option>
      <option>diy</option>
      <option>charity</option>
      <option>cooking</option>
      <option>relaxation</option>
      <option>music</option>
      <option>busywork</option>
      <option>all</option>
    </select>
  </div>


  <!--Choix du prix -->
  <div class="form-group">
    <label for="peopleNumber">Nombre de personnes minimum</label>
    <input type="peopleNum" class="form-control" name="participants" id="participants" placeholder="1" value="1">
  </div>



  <div class="form-group">
	  <div class="mb-3">
	    <label for="RangePrice" class="form-label">Prix: <output id="showValRange">50</output>€  </label>
	    <input type="range" class="form-range " min="0" max="100" step="1" id="price" name="price" oninput="showValRange.value=price.value">
	  </div>

</div>

  <button type="submit" class="btn btn-primary">Obtenir</button>

</form>